@using WebScrapingUI.Resources

@{
    ViewBag.Title = Account.ForgotConfirm;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @Account.PleaseCheck
    </p>
</div>
	
